html{
  background: linear-gradient(10deg, rgba(0, 0, 0, 0.795), rgb(67, 67, 69)) no-repeat;
   text-align: center;
}
.App {
  text-align: center;
  background: #252527d0;
  width: 70%;
  display: block;
  margin: 50px auto ;
  border-radius: 50px;
  padding: 20px;
  color: #A4CE5A;

  -webkit-box-shadow: 15px 30px 17px -10px rgba(7, 10, 53, 0.14);
-moz-box-shadow: 15px 30px 17px -10px rgba(15, 15, 15, 0.14);
box-shadow: 15px 30px 17px -10px rgba(8, 8, 8, 0.14);
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


/* 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
